<div class="row">
  <div class="col-md-8">
    <%= yield(:content) %>
  </div>
  <div class="col-md-4">
    <div class="list-group">
      <a href="<%= profil_path %>" class="list-group-item list-group-item-secondary <%= yield(:tag) == 'profiles' ? 'active' : '' %>">Mon profil</a>
      <a href="<%= pets_path %>" class="list-group-item list-group-item-secondary <%= yield(:tag) == 'pets' ? 'active' : '' %>">Mes animaux</a>
    </div>
  </div>
</div>
